.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 5px;
    height: 100px;
}

/* Add a hover effect (blue shadow) */
.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumbnailsList {
    display: block;
    position: relative;
    height: auto;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    word-wrap: normal;
    white-space: nowrap;
}

.preview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
}

.preview-img {
    width: 100%;
}

.arrow-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.preview-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.preview-prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.preview-prev:hover,
.preview-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close-span {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-span:hover,
.close-span:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.dwc-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background-color: black;
    color: white;
}

.dwc-modal-body {
    padding: 2px 16px;
    height: 100%;
}

.dwc-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dwc-modal-img {
    margin: auto;
    display: block;
    max-height: 90%;
}

/* Modal Content */
.dwc-modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.dwc-modal-img-container{
    height: 100%;
    width:100%;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}