* {
  box-sizing: border-box
}

/* main container */
.main-container {
  width: 1000px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  height: 600px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

.mySlides.active {
  display: block;
}

.mySlides img {
  height: 100%;
  max-width: 100%;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #0000009c;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Thumbnails */
.thumbnails {
  background-color: #333;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 100px;
}

.thumbnails img {
  padding: 10px;
  height: 100%;
  cursor: pointer;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* dialog */
.custom-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: hidden;
  background-color: #000000a6;
}

.custom-dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.custom-dialog__header .dialog-button {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.custom-dialog__header .dialog-button:hover {
  color: #3cb8fd;
}

.custom-dialog img {
  height: 100%;
  max-width: 100%;
}

.custom-dialog__body {
  height: 91.2vh;
}

/* delete dialog */

.delete-dialog {
  background-color: white;
  position: absolute;
  top: 42%;
  left: 42%;
  padding: 25px;
  border-radius: 15px;
}

.delete-dialog__button-container {
  display: flex;
  justify-content: flex-end;
}

.delete-dialog__button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
}

.delete-dialog__button-confirm {
  background-color: #0f6dbc;
  color: white;
}

.delete-dialog__button-confirm:hover {
  background-color: #0f5289;
}